body {
  margin: 4em 2em;
  font-family: 'Inter';
  font-size: 1em;
  line-height: 1.6em;
  color: #151515;
  display: flex;
  height: 85vh;
  background: #f2f2f2;
}

p {
  margin-top: 0;
}

a {
  font-weight: 500;
  color: #151515;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

img {
  width: 100%;
  margin-bottom: 24px;
}

section {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-weight: 600;
  margin-bottom: 48px;
  border-bottom: 2px solid;
  padding-bottom: 4px;
}

iframe {
  margin-bottom: 12px;
}

#contact * {
  display: block;
}

#ad {
  background: lightyellow;
}

.artists {
  text-align: center;
}

#music {
  /* background: #bbefef; */
}

#software {
  /* background: #ffd4c3; */
}

.blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block {
  margin-bottom: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
    .blocks {
      flex-direction: column;
    }
    .block {
      margin-bottom: 12px;
      width: 100%;
    }
    .block:first-child {
      margin-right: 0;
    }
}

.block a {
  text-decoration: none;
  display: block;
  color: #999;
  font-weight: 400;
}

iframe {
  max-width: 800px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.project p {
  margin-bottom: 0;
}

.project span {
  color: #999;
  text-align: center;
}

.project img {
  margin: 24px 0;
  max-height: 80vh;
  object-fit: contain;
}

/* Wistia */

.wistia_responsive_padding {
  margin-bottom: 36px;
}
