body {
  margin: 4em 2em;
  font-family: 'Inter';
  font-size: 1em;
  line-height: 1.6em;
  color: #151515;
  display: flex;
  height: 85vh;
}

p {
  margin-top: 0;
}

a {
  font-weight: 500;
  color: #151515;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

img {
  width: 100%;
  margin-bottom: 24px;
}

section {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.section-title {
  font-weight: 600;
  margin-bottom: 12px;
}

iframe {
  margin-bottom: 12px;
}

#contact * {
  display: block;
}

#ad {
  background: lightyellow;
}

#music {
  /* background: #bbefef; */
}

#software {
  /* background: #ffd4c3; */
}

.block {
  margin-bottom: 4px;
}

.block:first-child {
  margin-bottom: 12px;
}



iframe {
  max-width: 800px;
}
